* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}
html
{
    width: 100%;
    height: 100%;
    padding: 0px;
}
body
{
    width: 100%;
    min-width: 600px;
    height: 100vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#account_page
{
    width: 100%;

    height: 93%;
    min-height: 600px;

    display: grid;
    grid-template-areas:
        "personal_data      bonuses"
        "history      history";
    grid-template-columns: 65% 35%;
    grid-template-rows: minmax(fit-content, 50%), minmax(150px, 50%);
    justify-items: center;
    gap: 2px;

    padding: 0px;
    margin: 2px;
}

.common_box
{

    border: solid;
    border-width: 2px;
    /* border-color: rgb(60, 40, 15);
    background-color:rgb(196, 143, 84, 0.5); */

    margin: 5px;
    padding: 5px;
}

.common_label
{

    border: solid;
    border-width: 2px;
    /* border-color: sienna;
    background-color:burlywood; */

    margin: 5px;
    padding: 8px;
}

.common_input
{


    border: solid;
    border-width: 2px;  
    /* border-color:sienna;
    background-color: bisque; */

    width: 200px;

    position: absolute;
    left: 180px;
}

#personal_data
{
    grid-area: personal_data;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#personal_data_confirm_button
{
    width: min-content;
    position:relative;
    left: 50%;
}

#bonuses
{
    grid-area: bonuses ;
    width: 100%;
    height: 100%;
}

#history_box
{
    grid-area: history ;
    width: 100%;
    height: 100%;
}