* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
}

#menu_page {
    min-height: 100vh;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: row;

    background-color: rgb(196, 143, 84);
    border: solid;
    border-width: 2px;
    border-color: rgb(60, 40, 15);

    background-image: url(./resourses/pictures/coffe_bg.jpg);
    background-size: 150px, 150px;
    background-repeat: repeat;
}

#goods_list {
    min-width: 300px;
    width: 80vw;
}

#basket {
    min-width: 200px;
    width: 20vw;
    height: fit-content;

    background-color: rgb(196, 143, 84);
    border: solid;
    border-width: 2px;
    border-color: rgb(60, 40, 15);
}

#basket_list {
    height: 40vh;
    min-height: 200px;
}

.goods_cards {
    /*
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 */
    width: fit-content;
    height: fit-content;

    display: inline-grid;
    grid-template-areas:
        "gnam gnam gnam gdis"
        "gpic gpic gpic gdis"
        "gnum gpri gbut gdis";
    gap: 2px;

    background-color: rgb(196, 143, 84, 0.75);
    border: solid;
    border-width: 2px;
    border-color: rgb(60, 40, 15);
    margin: 2px;
}

.goods_names {
    grid-area: gnam;
    height: 25px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: bisque;
}

.goods_pictures {
    grid-area: gpic;
    height: 200px;
    width: 200px;
}

.goods_numbers {
    grid-area: gnum;
    height: 25px;
    width: 50px;
    margin-left: auto;
}

.goods_prices {
    grid-area: gpri;
    height: 25px;
    width: 75px;
    text-align: center;
    background-color: bisque;
}

.goods_buttons {
    grid-area: gbut;
    height: 25px;
    width: 75px;
    margin-right: auto;
}

.goods_description {
    grid-area: gdis;
    height: 250px;
    width: 150px;
}


#order_window {

    display: grid;
    grid-template-areas:
        "onam   olis"
        "ocon   olis"
        "oadd   olis"
        "otim   olis"
        "none   obut";
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 50% 50%;

    width: 600px;
    height: 200px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(196, 143, 84);
    border: solid;
    border-width: 2px;
    border-color: rgb(60, 40, 15);
}

#order_name {
    grid-area: onam;
}

#order_contacts {
    grid-area: ocon;
}

#order_address {
    grid-area: oadd;
}

#order_time {
    grid-area: otim;
}

#order_list {
    grid-area: olis;
}

#order_confirm_button {
    grid-area: obut;
}